Information/Introduction to Programming_ Learn Python_ Functions Cheatsheet _ Codecademy.pdf
Information/Introduction to Programming_ Learn Python_ Syntax Cheatsheet _ Codecademy.pdf
Information/Python_Beginer_Cheatsheet.png
Information/Python_DataScience_Sheet.pdf
Information/Python_DataScience_Sheet2.pdf
ZonaJuegos.py
Information/beginners_python_cheat_sheet_pcc_all(1).pdf
.vscode/arduino.json
.vscode/c_cpp_properties.json
Information/SharedScreenshot.jpg
BASIC.sql
Duino.ino
.vscode/launch.json
.vscode/settings.json
